.mainTemplete {
  width: calc(100% - 90px);
  padding: 30px 0;
  margin-left: 90px;
  flex: 1;
  overflow: hidden;
  @media (max-width: 767px) {
    width: calc(100% - 50px);
    padding: 15px 0;
    margin-left: 50px;
  }
}

.menuOpen {
  .mainTemplete {
    margin-left: 150px;
  }
}
